nav{
    height: 60px;
}
.row{
    padding: 15px;
}
@media screen and (max-width:991px){

    .special{
        display: block;
    }
    .account{
        display: none;
    }
}

@media screen and (min-width:992px) {
    .navbar-nav li:nth-child(1) a{
        display: none !important;
    }

}
.navbar-brand{
    display: block;
    width: 100px;
    height: 30px;
    background-color: red;
}
.special{
    display: none;
}