.border img{
    width: 100%;
}

.outer-border{
    padding:2px;
}
.border img:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

@media (max-width:850px) {
    .container{
        grid-template-columns: 1fr 1fr; 
    }    
}

@media (max-width:600px) {
    .container{
        grid-template-columns: 1fr;        
    }    
}
.picture{
    padding: 0 1%;
    margin: 0.5%;
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius:2px;
}
.container{
    background-color:white;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

body{
    padding:0 13%;
    background-color: white;
}

.border a:first-child:hover{
    transform:scale(2);
}

.border{
    padding:1%;
}

.border a:last-child{
    text-align: center;
    text-decoration: none;
    color:black
}