.border img{
    width: 100%;
    object-fit: cover;
    transition: transform 3s;
    -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.outer-border{
    padding:2px;
}
.border img:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.picture{
    width:30%;
    height: 50%;
    padding: 0 1%;
    margin: 0.5%;
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius:2px;
}
.container{
    width: 100%;
    height: 50%;
    background-color:white;
    display:flex;
    flex-wrap: wrap;
}

body{
    padding:0 13%;
    background-color: white;
}

.border a:first-child:hover{
    transform:scale(2);
}

.border{
    padding:1%;
}

.border a:last-child{
    text-align: center;
    text-decoration: none;
    color:black
}