footer{
    background-color: #30598c;
    color:white;
    font-family: Roboto,sans-serif;
    padding: 15px;
}

footer section ul{
    list-style-type: none;
    padding: 0;
    color: white;
}
footer li a{
    text-decoration: none;
    color: white;
}

footer ol{
     padding-left: 20px; 
}

footer li a:hover{
    color:#919294;
}

footer a{
    font-size: 14px;
}

/*footer*/
nav {
    display: flex;background-color: #30598c;
}
.desktop-menu ul{
    list-style-type: none;
    font-family: Roboto,sans-serif;
    display: flex;

    /* justify-content: space-between; */
}

.desktop-menu ul li{
    margin: 0 10px 0 10px;
}
.desktop-menu ul li a{
    color:white;
    text-decoration: none;
}

.logo-page{
    padding: 10px;
}


.user{
    height: 30px;
}
/*navbar*/
.course{
    border-radius: 4px;
    background-color: white;
    box-shadow:  0 2px 4px rgb(0 0 0 / 15%);;
}

.col-lg-4 a{
    text-decoration: none;
}

.course-image img{
    /* height: 300px; */
    width: 100%;
    object-fit: cover;
}
.course-name{
    color: black;
    font-size: 1.2rem;
    width: 100%
}
.course-info{
    margin: 20px;
}
.course-type{
    color: #757575;
    display: flex;
    justify-content: space-between;
}

.course-price{
    color:red;
}

.search-bar{
    height: 38px !important;
   display: grid;
   grid-template-columns: 1fr 38px;
   grid-gap:10px;
   margin-bottom:5px;
   margin-top:5px;
}
.search-container{
    position:relative;
    /* margin-bottom: 15px;
    margin-right:5px ; */
}

.col-lg-2{
    position: relative;
}
.filter{
    position: absolute;
    top:43px;
}
.fa{
    color: #c4c4c4;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);   
    right: 10px;
}
.btn-success{
    position: absolute;
    top:0;   
    right: 0;
}

/*input*/
@media screen and (max-width:575px){
    footer:not(footer ){
        text-align: center;
    }
    footer ol{
        padding-left: 0;
    }

}


@media screen and (max-width:991px){
    .col-lg-2{
        display: none;
    }
    .navbar-toggler{
        display: block;
    }  
}

